[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Recon"]
	path = Recon
	url = https://github.com/pedrocava/recon
[submodule "basedosdados"]
	path = basedosdados
	url = https://github.com/cran/basedosdados
